//Animations
@keyframes fadeInTab
	from
		opacity 0
		bottom -9px
		  
	to
		opacity 1
		bottom -7px
		
@keyframes fadeOutTab
	0%
		opacity 1
		bottom -7px
		width 180px
	33%
		opacity 1
		bottom -8px
		width 180px
	50%
		opacity 0
		bottom -10px
		width 180px
	100%
		opacity 0
		bottom - 9px
		width 0px