@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic');

sans_serif = 'Merriweather Sans', sans-serif
icon = FontAwesome

mq-base-font-size = 11px

body
	font-family sans_serif
	font-size mq-base-font-size