@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,600,300')

sans_serif = 'Martel Sans', sans-serif
icon = FontAwesome

mq-base-font-size = 11px

body
	font-family sans_serif
	font-size mq-base-font-size