*[class*="icon-"]::before
	content ''
	position relative
	display block
	float left
	text-indent -9999px
	width 16px
	height 16px
	transition opacity .06s linear
	background-repeat no-repeat
	background-position center right
	margin 2px 5px 0 0

.icon-home::before
	background-image url('../images/home_16px.svg')

.icon-search::before
	background-image url('../images/search_icon_16px.svg')

.icon-new-search::before
	background-image url('../images/new_search_16px.svg')

.icon-history::before
	background-image url('../images/history_16px.svg')

.icon-bookmark::before
	background-image url('../images/bookmark_16px.svg')

.icon-settings::before
	background-image url('../images/settings_16px.svg')

.icon-jumpto::before
	background-image url('../images/arrow_jumpto_icon_16px.svg')

.icon-copy::before
	background-image url('../images/toolbar-kopiera.svg')