.tab
	width 180px
	height 60px
	display block
	color cream
	position relative
	cursor pointer
	float left
	overflow hidden
	margin-left -32px
	bottom -7px
	z-index 1
	transition bottom .03s ease-out, width .1s ease-in-out
	animation-name fadeInTab
	animation-duration .12s
	/.condensed .tab
		width 150px
	/.super-condensed .tab
	/.condensed.super-condensed .tab
		width 105px
	&.placeholder
		&::before
		&::after
			opacity 0
	//******* Pin *****//
	.pin
		width 33%
		height 16px
		display block
		margin 0 auto
		&::before
			content ''
			width 14px
			height 14px
			position absolute
			background blue
			top 0
			z-index 10
			left 50%
			margin-left -5px
			border-radius 50%
			display none
			border 2px solid blue-dark
			box-sizing border-box
			transition background .1s ease-out
			box-shadow inset 1px 1px 2px rgba(0,0,0,0.4)
		&:hover::before
				background blue-grey
				box-shadow inset 1px 2px 2px rgba(0,0,0,0.4)
		&:active::before
				background blue
				
				
	&:hover .pin::before
		display block
		transform scale(0.8)
	&.pinned:hover .pin::before
		transform scale(0.9)
	&:active, &:focus
		&::before
			border-width 2px
	&.pinned
		bottom 0
		&:hover
			bottom 0
		.pin
			&::before
				background orange
				box-shadow none
				display block
			&:active::before
				background darken(orange,20%)
				box-shadow inset 1px 2px 2px rgba(0,0,0,0.4)			
			
			
	//******* Pin *****//

	.tab-content
	.close
		z-index 2
	.tab-content
		position relative
		padding 1px 16% 0
		>.title
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			font-weight bold
			font-size 1.12em
			padding 2px 0 1px
			line-height 19px
			>.icon
				position relative
				float left
				text-indent -9999px
				width 16px
				height 16px
				transition opacity .06s linear
				background-repeat no-repeat
				background-position center center
				margin 0 5px 0 0
		>.subtitle
			opacity 0.76
	.close
		position absolute
		text-indent -9999px
		top 9px
		right 15%
		background url('../images/close_icon_8px.svg') no-repeat center center
		width 12px
		height 12px
		display block
		opacity 0
		transition opacity .06s linear
	&.active .close
		background-image url('../images/close_icon_8px_active.svg')

	&:hover
	&.sorting
		bottom -6px
		&:before
			background lighten(blue,8%)
		.close
			opacity 0.5
			&:hover
				opacity 1
	&.sorting 
		.pin::before
		.close
			display none
		&:after
			background lighten(blue,8%)
	
	//Polygon Shape background
	&:before
	&:after
		content ''
		position absolute
		-webkit-clip-path polygon(14% 0, 86% 0, 100% 100%, 0 100%)
		clip-path polygon(14% 0, 86% 0, 100% 100%, 0 100%)
		top 7px
		bottom 0
		left 3px
		right 3px
	&:before
		background blue
		z-index 2
		transition background .1s linear
	&:after
		left 0
		right 0
		background blue-dark
		z-index 1
	&.active
		color blue
		z-index 99999
		bottom 0
		width 180px!important
		&:before
			background cream
	&.closing
		animation-name fadeOutTab!important
		animation-duration .16s
		animation-timing-function ease-in
		width 0px!important
		bottom -9px
	&.moved
		animation-name none

	&.type-search
		.icon
			background-image url('../images/search_icon_16px.svg')
		&.active
			.icon
				background-image url('../images/search_icon_16px_active.svg')
	&.type-volume
		.icon
			background-image url('../images/volume_icon_16px.svg')
		&.active
			.icon
				background-image url('../images/volume_icon_16px_active.svg')
		
	
	