.app-header
	position relative
	overflow hidden
	width 100%
	.tab-bar-wrapper
	.nav-bar
		float left
		position relative
	.tab-bar-wrapper
		width 100%
		padding-right 300px
		box-sizing border-box
	.nav-bar
		position absolute
		width 300px
		top 0
		right 0
		z-index 1