.app-header
	position relative
	overflow hidden
	width 100%
	.tab-bar-wrapper
	.nav-bar
		float left
		position relative
	.tab-bar-wrapper
		width 100%
		margin-right -300px
	.nav-bar
		width 300px
		z-index 1