/* App header */
.app-header
	overflow hidden
	width 100%
	position relative
	.tab-bar-wrapper
	.nav-bar
		position relative
	.tab-bar-wrapper
		width 100%
		padding-right 130px
		box-sizing border-box
	.nav-bar
		position absolute
		width 120px
		padding-right 10px
		bottom 0
		right 0