/* Context Menu */
.context-menu
	position fixed
	display block
	z-index 10
	display none
	background blue
	margin-top 42px
	padding 10px
	border-radius 3px
	box-shadow 1px 2px 1px rgba(0,0,0,0.3)
	max-width 250px
	&.open
		display block