.history-field
	position relative
	margin -1px 10px 3px 0
	.btn--small
		margin 0 2px 0 0
		color white
		background blue
		border-radius 20px 0 0 20px
	.arrow-left
	.arrow-right
		background blue
		
	input[type=search]
		border-radius 20px 0 0 20px
		font-size 1em
		padding .3em 0em .4em 1em
		border 0
		line-height 1.5em
		width 200px