.nav-shortcuts
	font-size 0.95em
	li
		margin 4px 10px
		padding-right 10px
		border-right 1px solid blue
		padding-top 4px
		&:last-child
			border none
	a
		color white
		text-decoration none
		line-height 24px
		
		&:hover
			text-decoration underline